.content-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0px;
}
.word-container {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.word-display-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.letter-container {
    position: relative;
    margin: 10px;
}
.letter-box {
    font-size: 2.4rem;
    margin: 10px;
    min-width: 50px;
    text-align: center;
    opacity: 0;
}
.bottom-line {
    content: "";
    padding: 1px;
    background-color:rgb(163, 1, 1);
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-top: 10px;
}
.display-word {
    font-size: 2rem;
    text-transform: uppercase;
    color: rgb(90, 49, 49);
    margin: auto 20px auto 0;
}
.display-btn{
    background-color: rgb(255, 194, 194);
    border-radius: 15px;
    padding: 15px 30px;
    font-size: 1.6rem;
    transition: 0.3s;
    border: none;
    margin-right: 50px;
}

.active {
    margin: 10px;
    padding: 10px;
    transition: 0.3s;
    border-radius: 10px;
    background-color: rgb(132, 5, 5);
    color: rgb(255, 255, 255);
}
.passive {
    margin: 10px;
    padding: 10px;
    transition: 0.3s;
    border-radius: 10px;
    background-color: darkgray;
}
.display-btn:hover, .active:hover{
    background-color: navy;
    color: white;
    cursor: pointer;
    transform: scale(1.2);
}
.src{
    width: 10%;
}

.hangman-img{
    width: 50%;
}