QPushButton {
    font-family: 'Impact', fantasy;
    font: 15px;
    padding: 2px 2px;
    position: relative;
    border: 2px solid white;
    border-radius: 15px;
    background: rgb(189,189,189);
}

QPushButton:hover {
    background: rgb(226,226,226);
}


QPushButton:pressed {
    background: rgb(151,151,151);
}

QLabel {
    font-family: system-ui;
    font: 20px;
    border: 2px solid black;
    color: white;
}

QComboBox {
    font-family: system-ui;
    border: 1px solid white;
    border-radius: 3px;
    padding: 1px 18px 1px 3px;
    background: rgb(189,189,189);
    min-width: 6em;
}

QComboBox:!editable, QComboBox::drop-down:editable {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
                                stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);
}

QComboBox:!editable:on, QComboBox::drop-down:editable:on {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #D3D3D3, stop: 0.4 #D8D8D8,
                                stop: 0.5 #DDDDDD, stop: 1.0 #E1E1E1);
}

QComboBox:on {
    padding-top: 3px;
    padding-left: 6px;
}

QComboBox::drop-down {
    width: 15px;
    border-left-width: 1px;
    border-left-color: darkgray;
    border-left-style: solid; 
}

QCheckBox {
    margin: 5px 5px 5px 0px;
 }

 QCheckBox::indicator {
     width: 13px;
     height: 13px;
 }
